/* start custom scss snippet */
body {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.8em;
  text-transform: none;
  color: #000;
}

.quotations {
  display: flex;
  flex-wrap: wrap;
}

.quotations .quotation {
  padding: 1rem;
  margin: 0 0 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(50% - 2rem);
  border-color: #5183f5;
  background: #5183f5;
  color: #fff;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 1rem 1rem 3.5rem !important;
  border-radius: 4px;
  position: relative;
}
.quotations .quotation {
  padding: 2.5rem 2.5rem 4.5rem !important;
  margin: 0 0 1rem;
  margin-top: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3rem;
  margin-left: 0.3em;
}

blockquote {
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid #fed356;
  background: #fff8e4;
  border-radius: 4px;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 1.5rem;
  line-height: 1.6;
  font-size: 1rem;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

blockquote cite {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
cite {
  font-style: italic;
}

.quotations .quotation cite {
  position: absolute;
  bottom: 1.5rem;
  right: 2.5rem;
}
.form-wrapper .field-list .field .field-element {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 0px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

.form-wrapper .field-list .fields.name .field {
  width: 48%;
  margin: 0 0 24px;
}

/* end custom scss snippet */
