---
layout: page
title: 404
show_title: false
---

<div class="layout--404">
  <div class="sign">
    <div style="text-align: center">
      <img class="image image--lg center" src="../././assets/404.PNG" />
      <h1>404</h1>
      <p>Page not found :(</p>
      <div>
        <div style="text-align: center">
          <p>Looks like you want to find something I don't already have?</p>
          <div>
            <a
              href="/"
              class="button button--outline-info button--lg"
              data-initialized="true"
              style="font-size: 14px"
              >BACK HOME</a
            >
          </div>
        </div>
      </div>
    </div>

    {{ content }}
  </div>
</div>
