---
layout: page
title: 404
show_title: false
---

<div class="layout--404">
  <div class="sign">
    <img class="image image--lg" src="././assets/404.PNG" />
    <h1>404</h1>
    <p>Page not found :(</p>

    <P>Looks like you want to find something I don't already have?</p>
    <div style="text-align: center">
      <a
        href="/"
        class="button button--outline-info button--lg"
        data-initialized="true"
        style="font-size: 14px"
        >BACK</a
      >
    </div>
  </div>
</div>

{{ content }}
