

<!DOCTYPE html>
<html>
  
<head>
    <title>
        JavaScript | Replace dom element in place.
    </title>
</head>
  
<body style="text-align:center;" id="body">
    <h1 style="color:green;"> 
            GeeksforGeeks 
        </h1>
    <p id="GFG_UP" style="font-size: 15px; font-weight: bold;">
    </p>
    <br>
    <button onclick="gfg_Run()">
        Click here
    </button>
    <p id="GFG_DOWN" 
    style="color:green; font-size: 20px; font-weight: bold;">
    </p>
    <textarea id="password" name="w3review" rcols="30" rows="10" value=""></textarea>
<br>


  <strong><label>Original String:</label></strong>
  <span id="demo0"></span>

  <br>
  <br>
  
  <strong><label>Encrypted:</label></strong>
  <span id="demo1"></span>

  <br>
  <br>
  
  <strong><label>Decrypted:</label></strong>
  <span id="demo2"></span>

  <br> 
  <br>

  <strong><label>String after Decryption:</label></strong>
  <span id="demo3"></span>

  
  <br />
  <br />
  
  <strong style="color: red;">CryptoJS is no longer maintained. Take a look of another JS Crypto Libraries in my <a href="https://github.com/gabrielizalo/JavaScript-Crypto-Libraries" target="_blank">GibHub List</a></strong>.
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script>



        var myString   = "U2FsdGVkX190raZWeuM1D2lNqnWDLHjeYdBmyKw55K4="
        var myPassword = "OLK"

        document.getElementById("demo0").innerHTML = myString;
        var el_up = document.getElementById("GFG_UP");
        var el_down = document.getElementById("GFG_DOWN");
        var today = 'Click button to replace <a> element in DOM';
        el_up.innerHTML = today;

        function gfg_Run() {
            document.getElementById("demo0").innerHTML = myString;
            document.getElementById("demo3").innerHTML = "";
            var tempPw = document.getElementById("password").value;
            console.log("Hmmm :: " + CryptoJS.AES.encrypt("", "").toString());
            var decrypted = CryptoJS.AES.decrypt(myString, tempPw);
            console.log(decrypted.toString(CryptoJS.enc.Utf8))
            var aEl = document.getElementById("a");
            var newEl = document.createElement("span");
            newEl.innerHTML = decrypted.toString(CryptoJS.enc.Utf8);
            document.getElementById("demo3").innerHTML = decrypted.toString(CryptoJS.enc.Utf8);
            document.getElementById("demo0").innerHTML = decrypted.toString(CryptoJS.enc.Utf8);
            aEl.parentNode.replaceChild(newEl, aEl);
          "<a> element is replaced by the <span> element.";
        }
    </script>
</body>
  
</html>