---
layout: articles
titles:
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
show_title: false
---
<div class="layout--home">
  {% comment %} {%- include paginator.html -%} {% endcomment %}
  <div style="text-align: center;"> 
    <img class="image image--xl" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/66461782_2362400903816990_2526837592196907008_n.jpg?_nc_cat=102&_nc_oc=AQmociSdqNwfN-bmcuMLVQJmNI5LxjUXRHrs0B3OvwvnIbXgOvy58Q4VT5b-pWWhyMs&_nc_ht=scontent-sea1-1.xx&oh=6aa4d8b33bb73e980fd0f3fb261a6dc6&oe=5DFB6BE4"/>
  </div>
</div>
<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
